@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #D6EFFF 1.84%, #EDF060 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #D6EFFF -13.86%, #EDF060 99.55%);
  
  --color-bg: #071E18;
  /* --color-footer : #031B34; */
  --color-footer : #102a2c;
  --color-blog: #042c54;
  /* --color-text: #81AFDD; */
  --color-text: #fff;
  --color-subtext: #FF8A71;
}